<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fernando's Dark Universe Blog</h1>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p><strong>Author:</strong> {{ post.author }}</p>
                <p>{{ post.content }}</p>
                <small><em>Post ID: {{ post.id }}</em></small>
                <hr>
            </div>
        {% endfor %}
    </div>
</body>
</html>
